This notebook will showcase my mastery of Numerics, Booleans, Strings, Lists, Sets, Tuples, and Dictionaries.
I begin with numerics.

# Numerics
There are three major numeric data types, as shown below:
    Integers
    Floats
    Complex (used for imiginary numbers, and much less common)

In [3]:
type(-12)

int

In [4]:
type (12 * 12.25)

float

In [5]:
type (8 + 3j)

complex

# Booleans
Boolean values only include the value true (1), or false (0).

In [6]:
type(1 > 5)

bool

In [7]:
1 > 5

False

In [9]:
type (1 == 1)

bool

In [8]:
1  == 1

True

# Strings
Strings are sequences of characters that represent unicode characters.  They can be stationed in between single, double, or triple quotes

In [10]:
'Coraline'

'Coraline'

In [12]:
"Coraline"

'Coraline'

In [21]:
multiline ="""
Coraline
is my
favorite movie
"""

In [22]:
print(multiline)

Coraline
is my
favorite movie

Doublequotes allow you to use single quotes within your string

In [23]:
"I've always wanted to watch Coraline with my wife"

"I've always wanted to watch Coraline with my wife"

# Indexing
Strings are indexable, meaning they can be searched and specific elements can be found and used for new processes

In [26]:
a = "Hello World!"

In [31]:
print(a[:5])

Hello

In [32]:
print(a[5:])

 World!

In [33]:
print(a[2:7])

llo W

In [34]:
print(a[:])

Hello World!

# Lists
Lists can store series of values.  They are created using square brackets []

In [35]:
[1,2,3]

[1, 2, 3]

In [36]:
["Cookie Dough", "Strawberry", "Chocolate"]

['Cookie Dough', 'Strawberry', 'Chocolate']

Lists can be created within lists, and many data types can be place in lists

In [38]:
["Vanilla", 3, ['Scoops', 'Spoon'], True]

['Vanilla', 3, ['Scoops', 'Spoon'], True]

Lists are changeable and can have items removed, added, and appended

In [40]:
ice_cream = ['Cookie Dough', 'Strawberry', 'Chocolate']

ice_cream.append('Vanilla')

ice_cream

['Cookie Dough', 'Strawberry', 'Chocolate', 'Vanilla']

In [43]:
ice_cream = ['Cookie Dough', 'Strawberry', 'Chocolate']

ice_cream.remove('Cookie Dough')

ice_cream

['Strawberry', 'Chocolate']

In [46]:
ice_cream[0] = 'Rocky Road'

ice_cream

['Rocky Road', 'Chocolate']

Nested Lists can be indexed according to each element of the nested list

In [47]:
nested_list = ["Vanilla", 3, ['Scoops', 'Spoon'], True]

nested_list[0]

'Vanilla'

In [48]:
nested_list[2]

['Scoops', 'Spoon']

In [51]:
nested_list[2][0]

'Scoops'

# Tuples
Tuples are like lists, but they are immutable.  They can be indexed, but they cannot be modified in any way once created. They are created using round brackets ()

In [55]:
First_Tuple = (1,2,3)
print(First_Tuple)

(1, 2, 3)

In [58]:
type(First_Tuple)

tuple

In [56]:
First_Tuple[1]

2

In [59]:
First_Tuple.append(3)

AttributeError: 'tuple' object has no attribute 'append'

# Sets
Sets are like lists but they cannot include duplicate elements, and they cannot be indexed because they are not stored in a specific order.

In [65]:
daily_pints_log = {12,41,80,51,47,57,48,12,41,80,50}
print(daily_pints)

{41, 12, 47, 80, 48, 50, 51, 57}

In [67]:
type(daily_pints_log)

set

In [68]:
coworkers_daily_pints_log = {12, 48, 51, 38, 41, 47, 112, 80}

Sets can be combined to include values from two sets, and then trimmed down to just the unique values

In [69]:
print(daily_pints_log | coworkers_daily_pints_log)

{38, 41, 12, 47, 80, 48, 50, 51, 112, 57}

It is also possible to check which values are found in both sets

In [70]:
print(daily_pints_log & coworkers_daily_pints_log)

{41, 12, 47, 48, 80, 51}

Or we can check which values are found in one set but not in another!

In [71]:
print(daily_pints_log - coworkers_daily_pints_log)

{57, 50}

In [72]:
print(coworkers_daily_pints_log - daily_pints_log)

{112, 38}

In [73]:
print(daily_pints_log ^ coworkers_daily_pints_log)

{38, 112, 50, 57}

# Dictionaries
Dictionaries inclue key:value pairs.  They are created using squiggly brackets {}

In [82]:
dict_cream = {'Name':'Nate Mulder', 'Weekly intake': 5, 'Favorite ice creams':['Vanilla', 'Tiramisu']}

In [78]:
type(dict_cream)

dict

In [83]:
print(dict_cream)

{'Name': 'Nate Mulder', 'Weekly intake': 5, 'Favorite ice creams': ['Vanilla', 'Tiramisu']}

In [84]:
dict_cream.values()

dict_values(['Nate Mulder', 5, ['Vanilla', 'Tiramisu']])

In [85]:
dict_cream.keys()

dict_keys(['Name', 'Weekly intake', 'Favorite ice creams'])

In [86]:
dict_cream.items()

dict_items([('Name', 'Nate Mulder'), ('Weekly intake', 5), ('Favorite ice creams', ['Vanilla', 'Tiramisu'])])

You cannot use commands like dict_cream[0] to index a dictionary, but you can search it by key

In [88]:
dict_cream['Name']

'Nate Mulder'

Values in dictionaries can be edited

In [90]:
dict_cream['Name'] = 'Andy Samberg'

In [91]:
print(dict_cream)

{'Name': 'Andy Samberg', 'Weekly intake': 5, 'Favorite ice creams': ['Vanilla', 'Tiramisu']}

The .update and del commands are useful for editing dictionaries

In [94]:
dict_cream.update({'Name':'Norman Rockwell', 'Weekly intake': 7, 'Weight':300})
print(dict_cream)

{'Name': 'Norman Rockwell', 'Weekly intake': 7, 'Favorite ice creams': ['Vanilla', 'Tiramisu'], 'Weight': 300}

In [96]:
del dict_cream['Weight']

print(dict_cream)

{'Name': 'Norman Rockwell', 'Weekly intake': 7, 'Favorite ice creams': ['Vanilla', 'Tiramisu']}